APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:bI2Vcv1muTZ2HCmcIBKLcziGplq1rOrID0f9QDHCJTQ=
APP_DEBUG=true
APP_URL=https://hsbte-i557.onrender.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

FILESYSTEM_DISK=local

MAIL_MAILER=log
